<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>Story title</th>
      <th>Story address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.story_title %></td>
        <td><%= story.story_address %></td>
        <td><%= story.longitude %></td>
        <td><%= story.latitude %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div style='width: 800px;'>
    <div id="map" style='width: 1000px; height: 600px;'></div>
  </div>

  <script type="text/javascript">
      handler = Gmaps.build('Google');
      // handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      //   markers = handler.addMarkers(<%=raw @hash.to_json %>);
      //   handler.bounds.extendWith(markers);
      //   handler.fitMapToBounds();
      // });
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        // markers = handler.addMarkers([
        //   {
        //     "lat": 37.7749295,
        //     "lng": -122.4194155,
        //     "picture": {
        //       "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        //       "width":  36,
        //       "height": 36
        //     },
        //     "infowindow": "hello!"
        //   }
        // ]);
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  </script>

<br>

<%= link_to 'New Story', new_story_path %>
