<div class="listing"><center><h1>Moments</h1></center>

<!-- <table>
  <thead>
    <tr>
      <th>Story title</th>
      <th>Story address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.story_title %></td>
        <td><%= story.story_address %></td>
        <td><%= story.longitude %></td>
        <td><%= story.latitude %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div> -->
  <div style='width: 800px;'>
    <div id="map" style='width: 1680px; height: 600px;'></div>
  </div>

  <script type="text/javascript">
      handler = Gmaps.build('Google');

      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){

        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
  </script>
</div>
<br>
<%= text_field :search_stories %>
<%= submit class => "btn btn-success" %>
<%= link_to "Search Stories", '#', :class => "btn btn-success" %>
<%= link_to 'New Story', new_story_path, :class => "btn btn-success" %>
<%= link_to 'My DashBoard', dashboard_index_path, :class => "btn btn-success" %>
