<div class="show_pages"><center>
<p><%= notice %></p>

<p>
  <strong>Story title:</strong>
  <%= @story.story_title %>
</p>

<p>
  <strong>Story address:</strong>
  <%= @story.story_address %>
</p>

<p>
  <strong>Story text</strong>
  <%= @story.story_text %>
</p>


<p>
  <strong>Longitude:</strong>
  <%= @story.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @story.latitude %>
</p>

<p>

	<p><%= image_tag @story.image(:medium) %></p>
</p>
</center></div>
<%= link_to 'Edit', edit_story_path(@story), :class => "btn btn-success" %> |
<%= link_to 'Back', stories_path, :class => "btn btn-success" %>
